/* Slider.css */
.mission {
  display: -webkit-box; /* Use box model */
  -webkit-box-orient: vertical; /* Orient the box vertically */
  overflow: hidden; /* Hide overflow text */
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  line-height: 1.5; 
  max-height: 4.5em; 
}

h5 {
  max-height: 2.5em;
  line-height: 1.25em;
}